header {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #0b0b14;
}

header nav {
  display: flex;
  gap: 40px;
}

header nav a {
  color: white;
}
header nav a:hover {
  color: #22d3ee;
  text-decoration: #8b5cf6;
}
